@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<header> 
    @Html.Partial("betSystem");
    <div class="roundTitle"><h2>ROUND TITLE</h2></div>
    @Html.Partial("timerSystem");
</header>

<div class="top_half">
       @Html.Partial("betSystem");
    <div class="callout">
                <div class="heading">
			        <h2>
				        Result
			        </h2>
		        </div>
		        <div class="main_text">
			        <h2 class="question_category">Game Over</h2>
		        </div>
         </div>
</div>
<div class="bottom_half">
    <div class="buttons">
			<button class="button_style" id="restartQuiz" onclick="resetTimer()">
                @Html.ActionLink("Start Again", "RestartGame")
			</button>
		</div>
    @Html.Partial("betSystem");
</div>
