@model Quiz.Models.QuestionDTO

@{
    ViewBag.Title = "Here's the question!";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<header> 
    @Html.Partial("betSystem");
    @Html.Partial("timerSystem");
</header>

<div class="top_half">
        <div class="callout">
        <div class="heading">
            <h2>Question</h2>
        </div>
        <div class="main_text">
            <h3 class="question_category">@Html.DisplayFor(model => model.QuestionText)</h3>
        </div>
   </div>
</div>

<div class="bottom_half">

    @Html.HiddenFor(model => model.QuestionId)
    <div id="answer1" class="answer first" onclick="answer(1)"><h4 class="ans">@(Model.AnswerA) </h4></div>
	<div id="answer2" class="answer" onclick="answer(2)"><h4 class="ans">@(Model.AnswerB) </h4></div>
	<div id="answer3" class="answer" onclick="answer(3)"><h4 class="ans">@(Model.AnswerC) </h4></div>
	<div id="answer4" class="answer" onclick="answer(4)"><h4 class="ans">@(Model.AnswerD) </h4></div>
 </div>


