@model Quiz.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Correct)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Correct)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
