@model IEnumerable<Quiz.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correct)
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
